body{
    box-sizing:border-box;
    background-color: #2f4f4f ;
    color: #fff;
    
}

.conteiner-1 >div, .conteiner-2 >div,.conteiner-3>div{
    border:1px solid #ccc;
    padding: 10px;
    margin: 10px;
    
}
.box-1
{
    flex:2;
    order:2;
}
.box-2{
    flex:1;
    order:1;

}
.box-3{
    flex:1;
    order:3;
}
.conteiner-2-box{
   flex-basis: 25%;
}
conteiner-3-box{
    flex-basis:15%;
}
@media(min-width:768px){
    .conteiner-1{
    display:flex;
    /*align-items:flex-start;
    align-items:flex-end;
    align-items:center;*/
    align-items:stretch;
    
}
.conteiner-2{
    display: flex;
    /*justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;*/
    justify-content: space-between;
}
.conteiner-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
}
.conteiner-3-box{
flex-basis: 12%;
}